# Version control
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.log
.DS_Store

# Keep metrics file
!experiments/metrics/metrics_history.json

# Exclude other directories
data/
models/
tests/
configs/
scripts/
utils/
eval/
.pytest_cache/
.github/
requirements/

.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg
.idea/
.vscode/
*.swp
*.swo 